// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'footer';

//Materialize
@import "node_modules/materialize-css/sass/materialize";

.navbar-laravel {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    background-color: white;
    height: 100% !important;
}
html{

}
.container {
    display: inline-flex;
    justify-content: space-between;
}

#navbarSupportedContent {
    display: flex;
    justify-content: space-between;
}


#logout-form {
    display: flex;
    justify-content: space-between;
}

#welcomeLink {
    margin-right: 3%;
    color: white;
    float: right;
    display:none;
}

.presentation {
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
}

.logo {
    z-index: 2;
    margin-top: 0.3%;
    width: 7%;
    height: 90%;
}

#map{
    height: 575px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    margin-bottom: 0;
  }

.choice_button{
    height: 350px;
    padding-top:25px;
}

.menu_tiles{
    margin-top: 75px;
}

.menu_jour{
    display: block;
    justify-content: center;
    padding-left: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.icons_place{
    padding-top: 25px;
}
.round_font{
    font-family: 'Luckiest Guy'
}
.choice_travel{
    width:60%;
    height: 150px;
    margin-top: 0;
}

.footer_home{
    padding-top:0;
}

.date_display{
    margin-top: 0;
    padding-top:125px;
}

.image_top{
    height:85%;
    padding-left: 50px;
    padding-top: 50px;
}

.slogan{
    margin: 0;
    padding-left: 60%;
    padding-top: 2%;
}

.description{
    padding-right: 5%;
    padding-top: 6%;
    font-weight: 600;
    font-size: 18px;
}

.text_footer{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
}

.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgb(39, 39, 39, 1), 0 6px 20px 0 rgba(5, 104, 22, 0.99);
  }

.bouge{
    position: fixed !important;
    z-index : 99999!important;
}

.contenu{
    padding-top: 64px ;
}

select{
    display: block;
}

.leaflet-touch .leaflet-bar{
    display:none;
}

.icon-button{
   padding-top: 50px;
}

.pseudo{
    padding-right: 50px;
}

.connect_hub{
    padding-top: 50px;
    margin: 0;
}


